/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.background-modale {
    display: none; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100vw; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}
.active-modale{
	display: flex !important;
}
.inactive-modale{
	display: none !important;
}
.delete-modale{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ajout-modale{
	display:flex ;
	flex-direction: column;
	width:100%;
	align-items: center;
}
.nav-modale{
	width:100%;
	display:flex;
}
.fa-arrow-left:hover{
	cursor:pointer;
}
.file-upload{
	background-color: #e9f5ff;
    border: 0px dashed #b3d8ff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
	width:100%;
	box-sizing: border-box;
}
.file-label {
    display: flex;
	flex-direction: column;
    font-size: 1em;
    color: #B9C5CC;
    cursor: pointer;
	align-items: center;
}
.file-label span{
	background-color: #cbd6dc;
	color: #306685;
	width: 40%;
    padding: 10px;
    border-radius: 60px;
}
.file-label i {
    font-size: 4em;
    margin-bottom: 10px;
    color: #B9C5CC;
}

.file-input {
    display: none;
}
.file-info {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}
.photo-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}
.form-group {
	display:flex;
	flex-direction: column;
	width: 100%;
    margin-bottom: 15px;
    text-align: left;
	border-bottom: 1px solid #b3b3b3;
	padding-bottom: 20px;
	gap: 15px;
}
label {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
    display: block;
}
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 0px;
    outline: none;
	box-sizing: border-box;
	box-shadow: 0px 4px 14px 0px #00000017;

}

.ajout-modale h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}
.submit-btn {
    background-color: #A7A7A7;
	font-family: "syne";
	font-weight: 700;
    color: white;
    border: none;
    border-radius: 60px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    width: 60%;
    margin-top: 10px;
}

.modale h3{
	font-size : 1.17em;
	font-weight: 400;

}
.modale{
	display: flex;
	flex-direction: column;
	background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
	width: 30%;
    text-align: center; 
    z-index: 1010; 
	align-items: center;
}
.fa-xmark{
	margin-left: 95%;
}
.fa-xmark:hover{
	cursor: pointer;
}
.gallery-modale{
	margin-top: 30px;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 20px;
	border-bottom: #b3b3b3 1px solid;
	padding-bottom: 30px;
}
.gallery-modale img {
	width: 100%;

}
#ajout-photo{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px ;
	border: 0px;
	padding:10px 0px 10px 0px;
	width: 50%;
	margin: 20px;
	
}
.gallery-modale figure{
		position: relative; /* Nécessaire pour positionner le bouton par rapport à l'image */
		display: inline-block;
}
.gallery-modale figure img {
    display: block; /* Supprime l'espace sous l'image */
    width: 100%; /* Ajuste la taille de l'image si nécessaire */
    height: auto;
}
.delete-button {
    position: absolute; /* Positionne le bouton par rapport au conteneur */
    top: 3px; /* Distance depuis le haut */
    right: 3px; /* Distance depuis la droite */
    background-color: black; /* Couleur de fond du bouton */
    color: white; /* Couleur de l'icône */
    border: none; /* Pas de bordure */
    border-radius: 2px; /* Bouton rond */
    width: 17px; /* Taille du bouton */
    height: 17px; /* Taille du bouton */
    display: flex; /* Centrage de l'icône */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.delete-button i {
    font-size: 9px; /* Ajuste la taille de l'icône */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
	
}
body {
	background-color:#FFFEF8;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.header-edit {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
.edit-mode{
	display:flex;
	background-color: black;
	height: 50px;
	justify-content: center;
    align-items: center;
}
.edit-mode p{
	color: white;
	text-align: center;
}
.edit-project span:hover{
	color:#B1663C;
	cursor: pointer;
}
section {
	margin: 50px 90px
}
.btn-filtre{
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-bottom: 50px;
}
.btn-filtre button {
	background-color: white;
	font-size: 18px;
	font-family: 'Syne';
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 5px 10px 5px 10px;
}
.btn-filtre .filtre-actif{
	background-color: #1D6154;
	color: white;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
a{
	color: black;
	text-decoration: none;
}
a:hover { /*a voir*/
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	/*margin: auto;*/
	width: 80%;
}
.edit-project{
	display: flex;
    justify-content: center; 
    align-items: center; 
    gap:15px;
}
.edit-link{
	margin-left: 2.5em;
}
.edit-project h2 {
    text-align: center; /* Centre le texte du titre */
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
.connected{
	display : none;
}
#login {
	width: 30%;
margin: auto;
display: flex;
flex-direction: column;
}
#login a{
	text-align: center;
	text-decoration: underline;
	color:#3d3d3d;
}
.page-active{
	font-weight: bold;
}
#login a:hover{
	color:#B1663C;
}
.erreur-connect{
	color: red;
}
#contact > * ,#login > *{
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer{
	background-color: white;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



